.index,
.container,
.picture,
image {
  width: 100%;
  height: 100vh;
  position: relative;
}
input {
  height: 100rpx;
}
picker {
  height: 100rpx;
}
.name,
.phone,
.time,
.phone_travel,
.time_travel {
  position: absolute;
  height: 50rpx;
  color: #d1def4;
}
.name {
  top: 20.5%;
  left: 144rpx;
  font-size: 40rpx;
  color: #ecfbfb;
  font-weight: 500;
}
.time {
  top: 25.3%;
  left: 130rpx;
  padding: 0 20rpx;
}
.phone,
.phone_travel {
  top: 29.5%;
  left: 174rpx;
}
.phone_travel {
  color: #48474d;
  font-size: 34rpx;
  font-weight: 700;
}
.time_travel {
  top: 33.9%;
  left: 286rpx;
  color: #98979d;
}
.pop {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    transform: translate(-50%, -50%);
    background: #fff;
    border-radius: 20rpx;
  }
}
