.index,
.container,
.picture,
image {
  width: 100%;
  height: 110vh;
  position: relative;
}
input {
  height: 100rpx;
}
picker {
  height: 100rpx;
}
.name,
.phone,
.time {
  position: absolute;
  height: 50rpx;
}
.pop {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    transform: translate(-50%, -50%);
    background: #fff;
    border-radius: 20rpx;
  }
}
